<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoro Home</title>
    <link rel="stylesheet" href="../css Files/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css Files/trending_posts.css">
    <link rel="stylesheet" href="../css Files/footer.css">
    <link rel="stylesheet" href="../css Files/nav-bar-slide-bar.css">
    <link rel="stylesheet" href="../css Files/slideChange.css">
    <link rel="stylesheet" href="../css Files/contentPage.css">
    <link rel="stylesheet" href="../css Files/home.css">

    <style>
    #first-sub-container  {
    background-image: url("../Images/slideImages/edbb6d921cc766ae3f5e36b55a2e30df.jpg");}

    #sec-sub-container{
    background-image: url("../Images/slideImages/b234bfa66995d5ea714ef372ddc261a9.jpg");
    }

    #third-sub-container{
    background-image: url("../Images/slideImages/c1ccb65025dd3a77e4d9c5cc6973997c.jpg");
    }

    #fourth-sub-container{
        right: -50cm;
    background-image: url("../Images/slideImages/b99f52afc71187673e9db1a84e5a2995.jpg");
    }
    </style>
</head>

<body>


    <div id="nav-bar">
        <button id="nav-button">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </button>

        <img id="logo" src="../Images/logo.png" alt="Home Page Logo">

        <form action="/search" autocapitalize="off">

            <input type="text" id="search-box" placeholder="Serach Anime...">
            <div>
                <a href="/search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>

            </div>

            <button><a href="/filter">Filter</a></button>

        </form>


        <div class="social-section">
            <a href="www.telegram.com">

                <img src="../Images/additional icons/icons8-telegram-app-48.png" alt="telegram-icon">
            </a>
        </div>



        <div class="social-section">
            <a href="www.twitter.com">
                <img src="../Images/additional icons/icons8-twitter-circled-48.png" alt="twitter-icon">
            </a>
        </div>


        <div class="social-section"> <img src="../Images/movies/live.svg" alt="Live Logo">
            <br>
            <a href="#">Watch2gether</a>
        </div>

        <button id="random"><i class="fa fa-random fa-2x" aria-hidden="true"></i>
            <br>
            <a href="#">random</a>
        </button>

        <div id="donate"><a href="#">Donate</a></div>

        <div id="login">
            <a href="#">Login</a>
        </div>

    </div>


    <div id="main">

        <div id="main-sub-container">

            <div class="sub-container" id="first-sub-container">
                <div  class="inside">
                    <div>
                        <h2>#1 SpotLight</h2>
    
                        <h1 class="heading">My Stepsister is My Ex-Girlfriend</h1>
                        
                        <ul class="u-list">
                            <li>TV</li>
                            <li>24m</li>
                            <li>Apr 7, 2022</li>
                            <li><h5>HD</h5></li>
                            <li><h5>SUB</h5></li>
                        </ul>
    
                        <p class="paragraph">Listless geek Mizuto Irido and introverted nerd Yume Ayai seemed like a match made in heaven, connected by their mutual love for literature. Unfortunately, their differences gradually grew, and they separated just after their middle school graduation. But, as if by divine comedy, the two find themselves reunited as step-siblings. A rivalry begins to brew between the former</p>
    
                        <button><i class="fa fa-play-circle" aria-hidden="true"></i> <a href="#">Watch</a></button>
                        <button> <a href="#">View Details</a> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    
                    </div>
                </div>
            </div>
    
            <div  class="sub-container" id="sec-sub-container">
                <div  class="inside">
                    <div>
                        <h2>#1 SpotLight</h2>
    
                        <h1 class="heading">My Stepsister is My Ex-Girlfriend</h1>
                        
                        <ul class="u-list">
                            <li>TV</li>
                            <li>24m</li>
                            <li>Apr 7, 2022</li>
                            <li><h5>HD</h5></li>
                            <li><h5>SUB</h5></li>
                        </ul>
    
                        <p class="paragraph">Listless geek Mizuto Irido and introverted nerd Yume Ayai seemed like a match made in heaven, connected by their mutual love for literature. Unfortunately, their differences gradually grew, and they separated just after their middle school graduation. But, as if by divine comedy, the two find themselves reunited as step-siblings. A rivalry begins to brew between the former</p>
    
                        <button><i class="fa fa-play-circle" aria-hidden="true"></i> <a href="#">Watch</a></button>
                        <button> <a href="#">View Details</a> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    
                    </div>
                </div>
            </div>
    
            <div class="sub-container"  id="third-sub-container">
    
                <div  class="inside">
                    <div>
                        <h2>#1 SpotLight</h2>
    
                        <h1 class="heading">My Stepsister is My Ex-Girlfriend</h1>
                        
                        <ul class="u-list">
                            <li>TV</li>
                            <li>24m</li>
                            <li>Apr 7, 2022</li>
                            <li><h5>HD</h5></li>
                            <li><h5>SUB</h5></li>
                        </ul>
    
                        <p class="paragraph">Listless geek Mizuto Irido and introverted nerd Yume Ayai seemed like a match made in heaven, connected by their mutual love for literature. Unfortunately, their differences gradually grew, and they separated just after their middle school graduation. But, as if by divine comedy, the two find themselves reunited as step-siblings. A rivalry begins to brew between the former</p>
    
                        <button><i class="fa fa-play-circle" aria-hidden="true"></i> <a href="#">Watch</a></button>
                        <button> <a href="#">View Details</a> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    
                    </div>
                </div>
    
            </div>
    
            <div class="sub-container"  id="fourth-sub-container">
    
                
                <div  class="inside">
                    <div>
                        <h2>#1 SpotLight</h2>
    
                        <h1 class="heading">My Stepsister is My Ex-Girlfriend</h1>
                        
                        <ul class="u-list">
                            <li>TV</li>
                            <li>24m</li>
                            <li>Apr 7, 2022</li>
                            <li><h5>HD</h5></li>
                            <li><h5>SUB</h5></li>
                        </ul>
    
                        <p class="paragraph">Listless geek Mizuto Irido and introverted nerd Yume Ayai seemed like a match made in heaven, connected by their mutual love for literature. Unfortunately, their differences gradually grew, and they separated just after their middle school graduation. But, as if by divine comedy, the two find themselves reunited as step-siblings. A rivalry begins to brew between the former</p>
    
                        <button><i class="fa fa-play-circle" aria-hidden="true"></i> <a href="#">Watch</a></button>
                        <button> <a href="#">View Details</a> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    
                    </div>
                </div>
        </div>

        </div>

    </div>

<div id="Background-cover-for-nav-bar" style="visibility: hidden;"></div>
       <!-- Left side bar -->
        <div id="left-nav-bar" style="visibility: hidden;">
            <div id="nav-side-bar" class="positon-nav-bar">
                <button id="close-menu"> &leftarrow; Close menu</button>
                <button id="community"><a href="#"><i class="fa fa-weixin" aria-hidden="true"></i> Commuinity</a></button>
        
            
                <a href="#">Home</a>
                <a href="#">Subbed Anime</a>
                <a href="#">Dubbed Anime</a>
                <a href="#">Most Popular</a>
                <a href="#">Movies</a>
                <a href="#">TV Series</a>
                <a href="#">Specials</a>
            </div>
        </div>




<div id="trends">

    <h1>Trending</h1>
    
    <div id="trending-home">

        <a href="#">
            <div class="slots">
                <h5>Hello world</h5>
                <h3>01</h3>
                <img src="../Images/movies/groundImages/content01.jpg" alt="img1">
            </div>
        </a>
    
        <div class="slots">
            <h5>Hello world jgfjg fghfghfg </h5>
            <h3>02</h3>
            <img src="../Images/movies/groundImages/content01.jpg" alt="img1">
            
        </div>

        <div class="slots">
            <h5>Hello world jgfjg fghfghfg </h5>
            <h3>03</h3>
            <img src="../Images/movies/groundImages/content01.jpg" alt="img1">
            
        </div>

        <div class="slots">
            <h5>Hello world jgfjg fghfghfg </h5>
            <h3>04</h3>
            <img src="../Images/movies/groundImages/content01.jpg" alt="img1">
            
        </div>

        <div class="slots">
            <h5>Hello world jgfjg fghfghfg </h5>
            <h3>05</h3>
            <img src="../Images/movies/groundImages/content01.jpg" alt="img1">
            
        </div>

        <div class="slots">
            <h5>Hello world jgfjg fghfghfg </h5>
            <h3>06</h3>
            <img src="../Images/movies/groundImages/content01.jpg" alt="img1">
            
        </div>

        <div class="slots">
            <h5>Hello world jgfjg fghfghfg </h5>
            <h3>07</h3>
            <img src="../Images/movies/groundImages/content01.jpg" alt="img1">
            
        </div>
        
        <div class="slots">
            <h5>Hello world jgfjg fghfghfg </h5>
            <h3>08</h3>
            <img src="../Images/movies/groundImages/content01.jpg" alt="img1">
            
        </div>

        <div class="slots">
            <h5>Hello world jgfjg fghfghfg </h5>
            <h3>09</h3>
            <img src="../Images/movies/groundImages/content01.jpg" alt="img1">
            
        </div>

        <div class="slots">
            <h5>Hello world jgfjg fghfghfg </h5>
            <h3>10</h3>
            <img src="../Images/movies/groundImages/content01.jpg" alt="img1">
            
        </div>
    
    </div>


    
    <div id="but-for-scroll">
        <button id="prev-scroll"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></button>
        <button id="next-scroll"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button>
    </div>

    <div id="share-zoro">
        <img src="../Images/gif/share-icon.gif" alt="gif">
        <div>
            <h3>Share Anime </h3>
               <h5>to your friends   </h5>
            </div>
    </div>

    <div id="hide-comment-sec">
        <div>
            <div id="cmnt-options">
                <h4>Comments are off</h4>
                <div><button id="comment-off" class="radio-btn-off"></button></div>
            </div>
        </div>
    </div>

    <div id="comment-sec">
       <img src="../Images/Home_Comment_png.png" alt="png_file">

        <div id="cmnt-options">
            <a href="#" class="select-opt">Newest Comments</a>
            <a href="#">Top Comments</a>
            <h4>Comments are On</h4>
            <div><button id="comment-on" class="radio-btn-on"></button></div>
        </div>

         <div id="comments">
            
            <div class="cmnt-slot">
                <div>
                <img src="../Images/profile_Pics/av-db-01.jpeg" alt="profile-1">
                    <div>
                        <h5>Egg</h5>
                        <h5>- 6 mins ago</h5>
                    </div>
                </div>
                <div id="comment">Commnts</div>
                <div>
                    <a href="#">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    One Picec</a>
                </div>
            </div>

            <div class="cmnt-slot">
                <div>
                <img src="../Images/profile_Pics/av-db-01.jpeg" alt="profile-1">
                    <div>
                        <h5>Egg</h5>
                        <h5>- 6 mins ago</h5>
                    </div>
                </div>
                <div id="comment">Commnts</div>
                <div>
                    <a href="#">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    One Picec</a>
                </div>
            </div>

            <div class="cmnt-slot">
                <div>
                <img src="../Images/profile_Pics/av-db-01.jpeg" alt="profile-1">
                    <div>
                        <h5>Egg</h5>
                        <h5>- 6 mins ago</h5>
                    </div>
                </div>
                <div id="comment">Commnts</div>
                <div>
                    <a href="#">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    One Picec</a>
                </div>
            </div>

            <div class="cmnt-slot">
                <div>
                <img src="../Images/profile_Pics/av-db-01.jpeg" alt="profile-1">
                    <div>
                        <h5>Egg</h5>
                        <h5>- 6 mins ago</h5>
                    </div>
                </div>
                <div id="comment">Commnts</div>
                <div>
                    <a href="#">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    One Picec</a>
                </div>
            </div>

            <div class="cmnt-slot">
                <div>
                <img src="../Images/profile_Pics/av-db-01.jpeg" alt="profile-1">
                    <div>
                        <h5>Egg</h5>
                        <h5>- 6 mins ago</h5>
                    </div>
                </div>
                <div id="comment">Commnts</div>
                <div>
                    <a href="#">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    One Picec</a>
                </div>
            </div>

            <div class="cmnt-slot">
                <div>
                <img src="../Images/profile_Pics/av-db-01.jpeg" alt="profile-1">
                    <div>
                        <h5>Egg</h5>
                        <h5>- 6 mins ago</h5>
                    </div>
                </div>
                <div id="comment">Commnts</div>
                <div>
                    <a href="#">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    One Picec</a>
                </div>
            </div>

            <div class="cmnt-slot">
                <div>
                <img src="../Images/profile_Pics/av-db-01.jpeg" alt="profile-1">
                    <div>
                        <h5>Egg</h5>
                        <h5>- 6 mins ago</h5>
                    </div>
                </div>
                <div id="comment">Commnts</div>
                <div>
                    <a href="#">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    One Picec</a>
                </div>
            </div>
        </div>
    </div> 

    <div id="list-sec">

        <div id="right-container">
            <div id="time"> <h3> Top Airing</h3>
            </div>
   
       <div class="today-section colour-change">
   
               <img src="../Images/movies/today-section-images/img03.jpg" alt="No1 img">
   
       <div>
                   <a href="#">One Piece dgrerhdfhdfgddf  sg  dsgsd gs ss gsg  </a>
              
               <div>
                <h5 id="details-list">
                       <ul>
                        TV
                        <li>EP1</li>
                        <li>23m</li>
                       </ul>
                </h5>
                   </div>
   
       </div>
                   
            </div>
   
        <div class="today-section">
   
                <img src="../Images/movies/today-section-images/img03.jpg" alt="No1 img">
    
        <div>
                    <a href="#">One Piece dgrerhdfhdfgddf  sg  dsgsd gs ss gsg  </a>
               
                <div>
                 <h5 id="details-list">
                        <ul>
                         TV
                         <li>EP1</li>
                         <li>23m</li>
                        </ul>
                 </h5>
                    </div>
    
        </div>
                    
             </div>
   
        <div class="today-section colour-change">
   
                <img src="../Images/movies/today-section-images/img03.jpg" alt="No1 img">
    
        <div>
                    <a href="#">One Piece dgrerhdfhdfgddf  sg  dsgsd gs ss gsg  </a>
               
                <div>
                 <h5 id="details-list">
                        <ul>
                         TV
                         <li>EP1</li>
                         <li>23m</li>
                        </ul>
                 </h5>
                    </div>
    
        </div>
                    
             </div>
   
             <div class="view-more colour-change">
                <a href="e">View More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
             </div>
       </div>

       <div id="right-container">
        <div id="time"> <h3> Top Airing</h3>
        </div>

   <div class="today-section colour-change">

           <img src="../Images/movies/today-section-images/img03.jpg" alt="No1 img">

   <div>
               <a href="#">One Piece dgrerhdfhdfgddf  sg  dsgsd gs ss gsg  </a>
          
           <div>
            <h5 id="details-list">
                   <ul>
                    TV
                    <li>EP1</li>
                    <li>23m</li>
                   </ul>
            </h5>
               </div>

   </div>
               
        </div>

    <div class="today-section">

            <img src="../Images/movies/today-section-images/img03.jpg" alt="No1 img">

    <div>
                <a href="#">One Piece dgrerhdfhdfgddf  sg  dsgsd gs ss gsg  </a>
           
            <div>
             <h5 id="details-list">
                    <ul>
                     TV
                     <li>EP1</li>
                     <li>23m</li>
                    </ul>
             </h5>
                </div>

    </div>
                
         </div>

    <div class="today-section colour-change">

            <img src="../Images/movies/today-section-images/img03.jpg" alt="No1 img">

    <div>
                <a href="#">One Piece dgrerhdfhdfgddf  sg  dsgsd gs ss gsg  </a>
           
            <div>
             <h5 id="details-list">
                    <ul>
                     TV
                     <li>EP1</li>
                     <li>23m</li>
                    </ul>
             </h5>
                </div>

    </div>
                
         </div>

         <div class="view-more colour-change">
            <a href="e">View More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
         </div>
        </div>

        <div id="right-container">
            <div id="time"> <h3> Top Airing</h3>
            </div>
   
       <div class="today-section colour-change">
   
               <img src="../Images/movies/today-section-images/img03.jpg" alt="No1 img">
   
       <div>
                   <a href="#">One Piece dgrerhdfhdfgddf  sg  dsgsd gs ss gsg  </a>
              
               <div>
                <h5 id="details-list">
                       <ul>
                        TV
                        <li>EP1</li>
                        <li>23m</li>
                       </ul>
                </h5>
                   </div>
   
       </div>
                   
            </div>
   
        <div class="today-section">
   
                <img src="../Images/movies/today-section-images/img03.jpg" alt="No1 img">
    
        <div>
                    <a href="#">One Piece dgrerhdfhdfgddf  sg  dsgsd gs ss gsg  </a>
               
                <div>
                 <h5 id="details-list">
                        <ul>
                         TV
                         <li>EP1</li>
                         <li>23m</li>
                        </ul>
                 </h5>
                    </div>
    
        </div>
                    
             </div>
   
        <div class="today-section colour-change">
   
                <img src="../Images/movies/today-section-images/img03.jpg" alt="No1 img">
    
        <div>
                    <a href="#">One Piece dgrerhdfhdfgddf  sg  dsgsd gs ss gsg  </a>
               
                <div>
                 <h5 id="details-list">
                        <ul>
                         TV
                         <li>EP1</li>
                         <li>23m</li>
                        </ul>
                 </h5>
                    </div>
    
        </div>
                    
             </div>
   
             <div class="view-more colour-change">
                <a href="e">View More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
             </div>
        </div>

        <div id="right-container">
            <div id="time"> <h3> Top Airing</h3>
            </div>
   
       <div class="today-section colour-change">
   
               <img src="../Images/movies/today-section-images/img03.jpg" alt="No1 img">
   
       <div>
                   <a href="#">One Piece dgrerhdfhdfgddf  sg  dsgsd gs ss gsg  </a>
              
               <div>
                <h5 id="details-list">
                       <ul>
                        TV
                        <li>EP1</li>
                        <li>23m</li>
                       </ul>
                </h5>
                   </div>
   
       </div>
                   
            </div>
   
        <div class="today-section">
   
                <img src="../Images/movies/today-section-images/img03.jpg" alt="No1 img">
    
        <div>
                    <a href="#">One Piece dgrerhdfhdfgddf  sg  dsgsd gs ss gsg  </a>
               
                <div>
                 <h5 id="details-list">
                        <ul>
                         TV
                         <li>EP1</li>
                         <li>23m</li>
                        </ul>
                 </h5>
                    </div>
    
        </div>
                    
             </div>
   
        <div class="today-section colour-change">
   
                <img src="../Images/movies/today-section-images/img03.jpg" alt="No1 img">
    
        <div>
                    <a href="#">One Piece dgrerhdfhdfgddf  sg  dsgsd gs ss gsg  </a>
               
                <div>
                 <h5 id="details-list">
                        <ul>
                         TV
                         <li>EP1</li>
                         <li>23m</li>
                        </ul>
                 </h5>
                    </div>
    
        </div>
                    
             </div>
   
             <div class="view-more colour-change">
                <a href="e">View More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
             </div>
        </div>

    </div>

    <div id="continue-watch-list">
        <div>
            <div id="main-container">
                <div id="left-container">
                    <h4 id="movie-anime">Recommended for you
                    </h4>
            
            <!-- For Top 4 Movie Anime -->
            

            
            
                        
        
            <% for(let i = 1; i <AnimeData.length ; i++) { %> 

               <div class="big-four-tile">
                            <h5 class="sub-dub">SUB</h5>
                            <h5 class="ep">Ep Full</h5>
            
                                <!-- for play effect -->
                                <a class="play" href="/movies/contentPage?id=<%= AnimeData[i].id  %>">
                                    <i class="fa fa-play fa-4x" aria-hidden="true"></i>
                                </a>
                                            
                                <img src="../Images/movies/Top-4/<%= AnimeData[i].Image_Path %> "
                                alt= "<%= AnimeData[i].Image_Path  %>" >
            
            
                                <h4><a href="/movies/contentPage?id=<%= AnimeData[i].id  %>">
                                    <%= AnimeData[i].Anime_Name %> </a>
            
                                    <p>
                                        <% if(AnimeData[i].Anime_Desc != "null") { %>
                                            <div class="description">  <%=  AnimeData[i].Anime_Desc %> </div> 
                                        <% } else{ %>
                
                                            <div class="description">  Not Available </div> 
                                            <% } %> 
                                     </p>
            
                                     <strong>Movie  * <%= AnimeData[i].Anime_Time %> m </strong>                 
                                
                                </h4>
            
                </div>
            
             <% } %> 

                </div>
                
            <!-- For Top 4 Movie Anime section end here-->
            
        
            </div>
        
        </div>




        <h3 id="genre">Genres</h3>
        <div id="left-side-small-container">

       <div>
           <h5><a href="#" class="green-color">Action</a></h5>
           <h5><a href="#" class="sky-color">Harem</a></h5>
           <h5><a href="#" class="violet-color">Cars</a></h5>
           <h5><a href="#" class="orange-color">comedy</a></h5>
       </div>
       
       <div id="grid">
           <h5><a href="#" class="sky-color">Adventure</a></h5>
           <h5><a href="#" class="green-color">Action</a></h5>
           <h5><a href="#"class="orange-color">Action</a></h5>
           <h5><a href="#" class="violet-color">Action</a></h5>
       </div>
       <div>
           <h5><a href="#" class="violet-color">Demons</a></h5>
           <h5><a href="#" class="green-color">Action</a></h5>
           <h5><a href="#" class="sky-color">Action</a></h5>
           <h5><a href="#" class="orange-color">Action</a></h5>
       </div>
        </div>

        <div class="view-more colour-change">
            <a href="e">View More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
         </div>


         <div id="trending-posts">

            <h3>Trending Posts</h3>
    
            <div class="right-comment">
                <div>
                    <h5>
                        <i>#general </i> <i> 4 hours ago </i>
    
                        <i class="fa fa-comment" aria-hidden="true"> 38</i>
                    </h5>
    
                    <br>
    
                    <a href="#">
                        <h4>Your Getting Mugged So Get Me To Angelfish :)</h4>
                    </a>
    
                    <div> My dear Nephtali, My name is Crane-kun and I really love you please visit me I'm sure you will
                        fall in love with me or maybe not in love but you will definitely fall for me. Well</div>
                    <div>
                        <img src="../Images/profile_Pics/av-db-01.jpeg" alt="user02">
                        Can Kill he Goku but?✓ᵛᵉʳᶦᶠᶦᵉᵈ
                    </div>
    
                </div>
            </div>
    
    
            <div class="right-comment">
                <div>
                    <h5>
                        <i>#general </i> <i> 4 hours ago </i>
    
                        <i class="fa fa-comment" aria-hidden="true"> 38</i>
                    </h5>
    
                    <br>
    
                    <a href="#">
                        <h4>Your Getting Mugged So Get Me To Angelfish :)</h4>
                    </a>
    
                    <div> My dear Nephtali, My name is Crane-kun and I really love you please visit me I'm sure you will
                        fall in love with me or maybe not in love but you will definitely fall for me. Well</div>
                    <div>
                        <img src="../Images/profile_Pics/av-db-04.jpeg" alt="user02">
                        Can Kill he Goku but?✓ᵛᵉʳᶦᶠᶦᵉᵈ
                    </div>
    
                </div>
            </div>
    
    
            <div class="right-comment">
                <div>
                    <h5>
                        <i>#general </i> <i> 4 hours ago </i>
    
                        <i class="fa fa-comment" aria-hidden="true"> 38</i>
                    </h5>
    
                    <br>
    
                    <a href="#">
                        <h4>Your Getting Mugged So Get Me To Angelfish :)</h4>
                    </a>
    
                    <div> My dear Nephtali, My name is Crane-kun and I really love you please visit me I'm sure you will
                        fall in love with me or maybe not in love but you will definitely fall for me. Well</div>
                    <div>
                        <img src="../Images/profile_Pics/avatar-19.png" alt="user02">
                        Can Kill he Goku but?✓ᵛᵉʳᶦᶠᶦᵉᵈ
                    </div>
    
                </div>
            </div>
    
    
            <div class="right-comment">
                <div>
                    <h5>
                        <i>#general </i> <i> 4 hours ago </i>
    
                        <i class="fa fa-comment" aria-hidden="true"> 38</i>
                    </h5>
    
                    <br>
    
                    <a href="#">
                        <h4>Your Getting Mugged So Get Me To Angelfish :)</h4>
                    </a>
    
                    <div> My dear Nephtali, My name is Crane-kun and I really love you please visit me I'm sure you will
                        fall in love with me or maybe not in love but you will definitely fall for me. Well</div>
                    <div>
                        <img src="../Images/profile_Pics/avatar-19.png" alt="user02">
                        Can Kill he Goku but?✓ᵛᵉʳᶦᶠᶦᵉᵈ
                    </div>
    
                </div>
            </div>
    
            <div id="read-more"><a href="#">Read more</a></div>
    
            </div>

         
    </div>

</div>


<div id="footer">

    <div>
        <img id="logo" src="../Images/logo.png" alt="" srcset="">

            <div class="social-section" id="telegram">
                <a href="www.telegram.com">
    
                    <img src="../Images/additional icons/icons8-telegram-app-48.png" alt="telegram-icon">
                </a>
            </div>
            <div class="social-section">
                <a href="www.twitter.com">
                    <img src="../Images/additional icons/icons8-twitter-circled-48.png" alt="twitter-icon">
                </a>
            </div>
    </div>

    <div>
        <h3>A-Z LIST</h3>
        <span>Searching anime order by alphabet name A to Z.</span>
    </div>

    <div> 
        <a href="#" class="alphabet-search">A</a>
        <a href="#" class="alphabet-search">A</a>

     </div>

     <div>
        <span><a href="#">Terms and service</a></span>

        <span><a href="#">Contact</a></span>

     </div>

     <div>
        <span>Zoro does not store any files on our server, we only linked to the media which is hosted on 3rd party services.</span>
        <h5>© Zoro.to</h5>
     </div>
        
</div>



    


    <!-- <script src="../ScriptFile/movies.js"></script> -->
    <script src="../experiment/slideChange.js"></script>
    <script src="../ScriptFile/home.js"></script>
</body>
</html>